#coral {
    background-color: lightcoral
}

#crystalTitle {
    color: antiquewhite;
    text-align:center;
}

#instructionsTitle, #instructionsText {
    color:white;
    font-weight: bold;
}

#green {
    background-color: #c1e9cd;
}

#randomNumberText, #yourTotalScoreText{
    font-weight: bolder;
    color: darkgreen
}

#winsText, #lossesText {
    color: darkgreen
}
